---
import Default from '@astrojs/starlight/components/Footer.astro';
---

<Default />

<div class="custom-footer">
  <p>Made with ❤️ by <a href="https://gollahalli.com">Akshay Raj Gollahalli</a></p>
</div>

<style>
  .custom-footer {
    margin-top: 1.5rem;
    text-align: center;
    font-size: var(--sl-text-xs);
    color: var(--sl-color-gray-3);
  }
</style>
